<!DOCTYPE html>
<!--
  Connect general page: loads Connect all.js, then the esbuild bundle (CSS + JS) for the Atlaskit sample.
  The iframe root element id must match main.ts (react-container).
-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:src="@{${atlassianConnectAllJsUrl}}" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/bundle.css"/>
    <script type="text/javascript" src="/bundle.js" charset="utf-8"></script>
</head>
<body>
    <div id="react-container"></div>
</body>
</html>
