**/target
**/.git
**/node_modules
**/.idea
**/.cursor
**/addon-db*
**/*.iml
examples/atlassian-connect-forge-spring-boot-sample/forge-connect/customUI
examples/atlassian-connect-forge-spring-boot-sample/frontend/node_modules
